<html>
	<head>
		<title>Steven's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls blog tutorial</a></h1>
		</div>

		<div>
			<p>published: 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ipsum sapien, vestibulum vitae convallis vitae, ullamcorper quis mauris. Aliquam ut rutrum eros. Curabitur eget diam vitae quam fermentum fermentum. Maecenas tempor quam ante. Ut porta sapien auctor maximus tincidunt. Sed placerat nisi at nunc suscipit, et convallis ante venenatis. Proin congue nec mauris at ultricies. Mauris cursus malesuada ante at bibendum. Curabitur varius iaculis ipsum. Praesent ullamcorper ut diam sit amet mollis. Suspendisse ultrices nibh purus, bibendum gravida ex lobortis ac. Cras elit enim, pretium non enim at, mattis viverra neque.</p>
		</div>
		<div>
			{{ posts }}
		</div>
	</body>
</html>